*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(255, 255, 255);
}
/*.covid-container{
    width: 550px;
    margin-top: 50px;
    height: 300px;
    background-image: linear-gradient(rebeccapurple, rgb(115, 19, 212));
    border-radius: 50px;
    margin-left: 50px;
    color: white;
}
*/
.navigation{
    width: 100%;
    position: absolute;
    top: 0px;
    height: 40px;
  
}
li{
    margin-top: 50px;
    justify-content: space-evenly;
    display: inline;
    font-variant-caps: all-petite-caps;
    text-align: right;
}
ul.ul{
   border-bottom: 2px solid black;
}
a {
    color: gray;
    text-decoration: none;
    padding: 15px;
}
a:hover{
    text-decoration: underline;
}
.darkmode-btn{
    position: absolute;
    top: 5px;
    border-radius: 20px;
    height: 20px;
    width: 75px;
    background-color: white;
    border: 1px solid black;

    right: 5px;
    
}
body {
 
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: rgb(26, 26, 26);
    color: rgb(213, 213, 213);
    
  }
  .footer ul{
      text-align: center;
     
      
  }
  .footer ul:hover{
      text-decoration: underline;
  }
 
  .footer{
      position: absolute;
      top: 2500px;
      border-top: 1px solid black;
      height: 100px;
      width: 100%;
  }
